html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.logo{
    max-height: 18px;
    margin: 0 50px 7px 0;
}
.agesCanvas{
    height: 500px;
}
.content{
    flex: 1 0 auto;
}
footer {
    background-color: #007bff;
    color: white;
    width: 100%;
    flex-shrink: 0;
}